---
# set:ft=yaml:

env:
  browser: true
  commonjs: true
  es6: true
  node: true

plugins:
  - "@typescript-eslint"
  - jest
  - prettier

extends:
  - eslint:recommended
  - plugin:jest/recommended
  - plugin:prettier/recommended
  - plugin:@typescript-eslint/recommended

parser: "@typescript-eslint/parser"

parserOptions:
  ecmaVersion: 2018

ignorePatterns:
  - "src/parser.ts"

rules:
  indent:
  - error
  - 2
  - SwitchCase: 1

  linebreak-style:
  - error
  - unix

  quotes:
  - error
  - single
  - avoid-escape

  semi:
  - error
  - never

  comma-dangle:
  - error
  - arrays: always-multiline
    objects: always-multiline
    imports: always-multiline
    exports: always-multiline
    functions: only-multiline

  prettier/prettier:
  - error

  "@typescript-eslint/ban-ts-comment": 'off'
